<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yang.user.entity.User">
        <id column="id" property="id" />
        <result column="openid" property="openid" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="mobile" property="mobile" />
        <result column="headimg" property="headimg" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="insert_time" property="insertTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
        <result column="is_job" property="isJob" />
        <result column="mcode" property="mcode" />
        <result column="user_ip" property="userIp" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, openid, username, nickname, mobile, headimg, password, email, insert_time, update_time, is_del, is_job, mcode, user_ip, type
    </sql>

</mapper>
